@{
    ViewBag.Title = "Index";
}

<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="main-banner header-text" id="top">
    <div class="Modern-Slider">
        <!-- Item -->
        <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">


                    @if (Session["Admin"] != null)
                    {
                        <h6 class="animate__animated animate__fadeInTopLeft animate__delay-3s">Bienvenido Admin!</h6>
                        <h4 class="animate__animated animate__fadeInTopLeft animate__delay-3s">Es hora <br>de ayudar </h4>
                        <p class="animate__animated animate__fadeInTopLeft animate__delay-3s">Llegar juntos es el principio. Mantenerse juntos, es el progreso. Trabajar juntos es el éxito. <a style="color: #4cff00"> Henry Ford.</a></p>
                        <a class="filled-button animate__animated animate__fadeInTopLeft animate__delay-3s">Bienvenido  @HttpContext.Current.Session["Admin"].ToString()!  </a>
                    }
                    else if (Session["Username"] != null)
                    {
                        <h6 class="animate__animated animate__fadeInTopLeft animate__delay-3s">Estamos listos para ayudarle</h6>
                        <h4 class="animate__animated animate__fadeInTopLeft animate__delay-3s">Solicitar <br> Asesoría Financiera</h4>
                        <p class="animate__animated animate__fadeInTopLeft animate__delay-3s">This finance HTML template is 100% free of charge provided by TemplateMo for everyone. This is a multiple-page version with different HTML pages. <a href="one-page.html">One-page version</a> is available as of 2021 February.</p>
                        <a class="filled-button animate__animated animate__fadeInTopLeft animate__delay-3s">Bienvenido  @HttpContext.Current.Session["Username"].ToString()!  </a>
                    }
                    else
                    {
                        <h6 class="animate__animated animate__fadeInTopLeft animate__delay-3s">Estamos listos para ayudarle</h6>
                        <h4 class="animate__animated animate__fadeInTopLeft animate__delay-3s">Solicita <br> Asesoría Financiera</h4>
                        <p class="animate__animated animate__fadeInTopLeft animate__delay-3s">Somos <a style="color: #4cff00"> CREDIT PAND. </a> La mejor compañia financiera para resolver tus problemas.<br> ¿Ya te registraste?</p>
                        <a href="@Url.Action("Login", "Usuario")" class="filled-button animate__animated animate__fadeInTopLeft animate__delay-3s">Inicia Sesión!  </a>
                    }

                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item item-2">
            <div class="img-fill">
                <div class="text-content">

                    @if (Session["Admin"] != null)
                    {
                        <h6 class="animate__animated animate__fadeInTopLeft animate__delay-3s">¿Admin tienes problemas?</h6>
                        <h4 class="animate__animated animate__fadeInTopLeft animate__delay-3s">¿Necesitas ver<br>las tarjetas?</h4>
                        <p class="animate__animated animate__fadeInTopLeft animate__delay-3s">La gente consigue más como resultado de trabajar con otros que contra ellos.  <a style="color: #4cff00">Dr.Allan Fromme.</a></p>
                        <a href="@Url.Action("AdminCards", "Tarjeta")" class="filled-button animate__animated animate__fadeInTopLeft animate__delay-3s">Ver Tarjetas</a>
                    }
                    else if (Session["Username"] != null)
                    {
                        <h6 class="animate__animated animate__fadeInTopLeft animate__delay-3s">¿Necesitas una nueva tarjeta?</h6>
                        <h4 class="animate__animated animate__fadeInTopLeft animate__delay-3s">Solicitar <br> una tarjeta</h4>
                        <p class="animate__animated animate__fadeInTopLeft animate__delay-3s">Somos <a style="color: #4cff00"> CREDIT PAND. </a> La mejor compañia financiera para resolver tus problemas.<br> Solicita tu tarjeta ¡AHORA!</p>
                        <a href="@Url.Action("ClientCards", "Tarjeta")" class="filled-button animate__animated animate__fadeInTopLeft animate__delay-3s">Solicita tu tarjeta</a>
                    }
                    else
                    {
                <h6 class="animate__animated animate__fadeInTopLeft animate__delay-3s">¿Necesitas una nueva tarjeta?</h6>
                <h4 class="animate__animated animate__fadeInTopLeft animate__delay-3s">Solicita<br> una tarjeta</h4>
                        <p class="animate__animated animate__fadeInTopLeft animate__delay-3s">Somos <a style="color: #4cff00"> CREDIT PAND. </a> La mejor compañia financiera para resolver tus problemas.<br> ¿Ya te registraste?</p>
                        <a href="@Url.Action("Login", "Usuario")" class="filled-button animate__animated animate__fadeInTopLeft animate__delay-3s">Inicia Sesión!  </a>
                    }

                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item item-3">
            <div class="img-fill">
                <div class="text-content">

                    @if (Session["Admin"] != null)
                    {
                        <h6 class="animate__animated animate__fadeInTopLeft animate__delay-3s">¿Admin tienes dudas?</h6>
                        <h4 class="animate__animated animate__fadeInTopLeft animate__delay-3s">Vamos ehcale un ojo<br>a las estadisticas</h4>
                        <p class="animate__animated animate__fadeInTopLeft animate__delay-3s">No hay problema que no podamos resolver juntos, y muy pocos que podamos resolver por nosotros mismos. <a style="color: #4cff00">Lyndon Johnson.</a></p>
                        <a href="@Url.Action("AdminCharts", "Home")" class="filled-button animate__animated animate__fadeInTopLeft animate__delay-3s">Ver estadisticas</a>
                    }
                    else if (Session["Username"] != null)
                    {
                        <h6 class="animate__animated animate__fadeInTopLeft animate__delay-3s">Tienes problemas con nuestros Usuarios</h6>
                        <h4 class="animate__animated animate__fadeInTopLeft animate__delay-3s">Contactanos <br> en este momento</h4>
                        <p class="animate__animated animate__fadeInTopLeft animate__delay-3s">En <a style="color: #4cff00">CREDIT PAND. </a>Queremos resolver tus problemas, no generarte mas problemas<br>Lo sentimos</p>
                        <a href="@Url.Action("Contact", "Home")" class="filled-button animate__animated animate__fadeInTopLeft animate__delay-3s">Contactanos</a>
                    }
                    else
                    {
                        <h6 class="animate__animated animate__fadeInTopLeft animate__delay-3s">¿Ya viste nuestras estadisticas?</h6>
                        <h4 class="animate__animated animate__fadeInTopLeft animate__delay-3s">Somos los mejores <br> en Asesoría Financiera</h4>
                        <p class="animate__animated animate__fadeInTopLeft animate__delay-3s">Somos <a style="color: #4cff00"> CREDIT PAND. </a> La mejor compañia financiera para resolver tus problemas.<br> ¿Ya te registraste?</p>
                        <a href="@Url.Action("Login", "Usuario")" class="filled-button animate__animated animate__fadeInTopLeft animate__delay-3s">Inicia Sesión!  </a>
                    }

                </div>
            </div>
        </div>
        <!-- // Item -->
    </div>
</div>
<!-- Banner Ends Here -->

<div class="request-form">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4>Requiere de servicios financieros?</h4>
                <span>Somos los mejores resolviendo problemas financieros.</span>
            </div>
            <div class="col-md-4">
                <a href="@Url.Action("Contact", "Home")" class="border-button">Contáctenos</a>
            </div>
        </div>
    </div>
</div>

<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Servicios <em>Financieros</em></h2>
                    <span>Ofrecemos una amplia gama de servicios</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <img src="~/Content/Images/service_01.jpg" alt="">
                    <div class="down-content">
                        <h4>Préstamos</h4>
                        <p>Te prestamos el dinero que <br>necesites.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <img src="~/Content/Images/service_02.jpg" alt="">
                    <div class="down-content">
                        <h4>Tarjetas de Crédito</h4>
                        <p>Financiamos planes para sus tarjetas de credito.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <img src="~/Content/Images/service_03.jpg" alt="">
                    <div class="down-content">
                        <h4>Asesoría Financiera</h4>
                        <p>Puedes hablar con nuestros agentes mediante el chat online.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fun-facts">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="left-content">
                    <span>Contáctenos</span>
                    <h2>Las mejores soluciones económicas <em>según sus necesidades</em></h2>
                    <p>
                        Credit Pand es una empresa de caracter financiero que pretende resolver todos sus problemas financieros con diferentes servicios.
                        <br><br>Nuestra prioridad es solventar sus consultas lo más rápido posible, por eso contamos con servicios de chat las 24 horas al día y robots programados.
                    </p>
                </div>
            </div>
            <div class="col-md-6 align-self-center">
                <div class="row">
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">945</div>
                            <div class="count-title">Horas Trabajadas</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">1280</div>
                            <div class="count-title">Excelentes Críticas</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">1000</div>
                            <div class="count-title">Clientes Satisfechos</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">1</div>
                            <div class="count-title">Intereses más bajos</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="more-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="more-info-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="left-image">
                                <img src="~/Content/Images/more-info.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 align-self-center">
                            <div class="right-content">
                                <span>¿Quienes somos?</span>
                                <h2>Conózca nuestra <em>compañia Credit Pand</em></h2>
                                <p> Credit Pand se creo desde la necesidad de dar soluciones a los usuarios, dandoles facilidad a la hora de conseguir tarjetas de crédito.
                                    <br><br>Debido a la problematica por la pandemia, se han visto afectadas muchas empresas fisicas, por lo tanto se le ha falicitado al usuario tramites desde una página web amigable con el usuario.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="testimonials" style="background-color: #373636;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2 style="color: #ffffff;">¿Qué dicen<em> acerca de nosotros?</em></h2>
                    <span style="color: #ffffff;">Testimonios de nuestros clientes</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-testimonials owl-carousel">

                    <div class="testimonial-item">
                        <div class="inner-content">
                            <h4>George Walker</h4>
                            <span>Analista Financiero</span>
                            <p style="color: #000000;">"Increíble la manera en que resuelven los problemas, excelente trabajo."</p>
                        </div>
                        <img src="~/Content/Images/PandaUser.jpg" alt="">
                    </div>

                    <div class="testimonial-item">
                        <div class="inner-content">
                            <h4>John Smith</h4>
                            <span>Ingeniero Informatico</span>
                            <p style="color: #000000;">"Excelente Trabajo sus programadores <br> merecen un 100 en su nota."</p>
                        </div>
                        <img src="~/Content/Images/PandaUser.jpg" alt="">
                    </div>

                    <div class="testimonial-item">
                        <div class="inner-content">
                            <h4>David Wood</h4>
                            <span>Chief Accountant</span>
                            <p style="color: #000000;">"Imposible no querer ser parte de Credit Pand, tienen un equipo espectacular!."</p>
                        </div>
                        <img src="~/Content/Images/PandaUser.jpg" alt="">
                    </div>

                    <div class="testimonial-item">
                        <div class="inner-content">
                            <h4>Andrew Boom</h4>
                            <span>Analista</span>
                            <p style="color: #000000;">"La manera en que solventan las consultas es increíble, gracias por este servicio."</p>
                        </div>
                        <img src="~/Content/Images/PandaUser.jpg" alt="">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<script language="text/Javascript">

    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t) {                   //declaring the array outside of the
        if (!cleared[t.id]) {                      // function makes it static and global
            cleared[t.id] = 1;  // you could use true and false, but that's more typing
            t.value = '';         // with more chance of typos
            t.style.color = '#fff';
        }
    }
</script>
