@model IEnumerable<CreditPand.BD.Modelo.Usuario>

@{
    ViewBag.Title = "Mantenimientos";
}

<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Mantenimiento de Clientes</h1>
                <span>Listado de Clientes de CreditPand disponibles para el mantenimiento</span>
            </div>
        </div>
    </div>
</div>

<div class="single-services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Mantenimiento de <em>Clientes</em></h2>
                        <span>Mantenimiento de los clientes del sistema</span>
                    </div>
                </div>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Ide)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Apellido)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SegundoApellido)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Telefono)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Username)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Pass)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Rol)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ide)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Apellido)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SegundoApellido)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefono)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pass)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rol)
                            </td>
                            <td>
                                @Html.ActionLink("Modificar", "EditarUserForm", new { Id = item.Ide }) |
                                @Html.ActionLink("Eliminar", "BorrarUsuario", new { Username = item.Username }) |
                                @Html.ActionLink("Asignar Rol", "Roles", new { Id = item.Ide })
                            </td>
                        </tr>
                    }

                </table>



                <!--Arreglar el botón para ir al registro de un nuevo usuario-->
                <div class="contact-form">
                    <form action="Register" controller="Usuario" method="post">
                        <div class="col-lg-12">
                            <fieldset>
                                <button type="submit" class="filled-button btn btn-info">Crear nuevo usuario</button>
                            </fieldset>
                        </div>
                    </form>
                </div>
                <br><br>
            </div>
    </div>
</div>