@model IEnumerable<CreditPand.BD.Modelo.Tarjeta>

@{
    ViewBag.Title = "AdminCards";
}


<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Mantenimiento de Tarjetas</h1>
                <span>Listado de Tarjetas disponibles para el mantenimiento</span>
            </div>
        </div>
    </div>
</div>

<div class="single-services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Listado de <em>tarjeta</em></h2>
                        <span>Lista de tarjetas activas de clientes</span>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Marca)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Límite)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Monto_extra)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Fecha_activación)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Internacional)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IdUsuario)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Marca)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Límite)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Monto_extra)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Fecha_activación)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Internacional)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdUsuario)
                                </td>
                                <td>
                                    @Html.ActionLink("Modificar Tarjeta", "EditarTarjetaForm", new { id = item.Id }) |
                                    @Html.ActionLink("Eliminar", "BorrarTarjeta", new { id = item.Id }) |
                                    @Html.ActionLink("Bloquear", "f", new { id = item.Id })

                                </td>
                            </tr>
                        }
                    </table>
                </div>


                @Html.ActionLink("Solicitar Tarjeta", "ClientCards", "Tarjeta", new { @class = "btn btn-secondary" }) <!--Arreglar así los demás botones-->

            </div>
        </div>
    </div>
</div>

<br>
